.flash-top {
    display: flex;
    align-items: center;
    width: 66%;
    margin-left: 17%;
    margin-top: 50px;
    margin-bottom: 50px;
    
    .container1 {
        background-color: #BBBBBB;
        display: inline-block;
        justify-content: space-between;
        width: 50%;
        height: 860px;
        margin-right: auto;

        h1 {
            display: block;
            text-align: center;
            position: relative;
            top: 320px;
            color: $color-white;
            font-weight: 700;
            font-size: 45px;
        }

        .flash-topBtn {
            display: inline-block;
            align-items: center;
            margin-left: 38%;
            position: relative;
            top: 350px;
            font-size: 20px;
        }

        .btn-white {
            display: flex;
            align-items: center;
            height: 60px;

            &:hover {
                background-color: $color-dark;
                color: $color-white;
            }
        }
    }

    .flash-top-product {
        width: 40%;


        .flash-product {
            position: relative;
            margin-right: 20%;
        }
    }
}